body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height:100%;
    width:100%;
    background:#eee;
}
.navbar{
    top:0;
    left:0;
    position:fixed;
    background: white;
    height: 68px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    box-shadow:2px 2px 6px rgba(0,0,0,0.35);
}

.nav{
    margin-right: 20px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
}

.nav-item{
    font-size:120%;
    margin:0px;
    padding: 23px 30px;
    color: #337279;
}

.recipe-description{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    margin:20px 8px;
    transform:translateY(-20px);
    margin-bottom:0;
    letter-spacing: 1px;
    word-spacing:1.5px;
}

.recipe-title{
    font-family: 'Ruda', sans-serif;
    font-size:35px;
    color:rgba(0,0,0,0.8);
    margin:0;
    padding:0;
}

.reciperating{
    margin:0 1.3%;
}

.small-txt2{
    color:rgba(0,0,0,0.5);
}

.desc-div{
    display:flex;
    margin:2% 1%;
    width:70%;
    margin-bottom:8px;
}

.quotes{
    opacity: 0.4;
    height:40px;
    width:40px;
}

.small-txt2{
    font-size: 18px;
    font-weight: 300;
    color:rgba(0,0,0,0.4);
}

.author-name{
    margin-left: 1%;
    font-size:20px;
    color:#0d9eca;
}

a{
    text-decoration: none;
}

.logo{
    border-radius:70px;
    margin:5px;
    margin-left:20px;
}

.more-details{
    width:85%;
    margin:auto;
    padding: 2%;
}

.time-image{
    background: white;
    padding: 2%;
    border-radius: 20px;
    width: 90%;
    box-sizing: border-box;
    margin-top: 70px;
}
.time-image h1{
    margin-left: 1%;
}

.profilepicdiv{
    display: flex;
    margin: 2%;
}

.start-details{
    margin:2%;
}

.flexdiv{
    display:flex;
    margin:0;
}

.steps-head{
    color:rgba(0,0,0,0.65);
}

.fa-check-circle{
    margin:5px;
}

a.editicon{
    margin:2%;
    font-size:28px;
    padding:0.8%;
    color:rgba(0,0,0,0.5);
}

hr{
    width:95%;
}

.profilepic
{
    width:60px;
    height:60px;
    border-radius:75px;
    cursor:pointer;
}

.image-time{
    display: flex;
}

.dish{
    width: 600px;
    height: 400px;
    border-radius: 2%;
    margin:3%;
}

.time{
    margin:3% 0% 3% 10%;
    border-radius: 2%;
    width: 300px;
    padding: 2%;
    font-size: 18px;
    box-shadow: 5px 10px 15px 5px #bbb9b9; 
    box-sizing: border-box;
}

.clock{
    width: 50px;
    height: 50px;
    margin-left: -120%;
    margin-top: 30%;
}

.ingridents-container{
    margin-top: 1%;
    width: 57%;
    padding: 2% 3%;
    background: white;
    border-radius: 20px;
}

.directions>p{
    letter-spacing: 1px;
    line-height: 180%;
    word-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    
}

.ingridents{
    display:flex;
    width:100%;
}

.ingredient-item{
    width:45vw;
    word-wrap: break-word;
    font-weight:400;
}


.ingridents h3{
    cursor: pointer;
}

input[type=checkbox]{
    zoom:1.5;
    margin-top: 3%;
    margin-right: 3%;
    cursor: pointer;
}

.directions{
    background: white;
    padding: 2% 3%;
    border-radius: 20px;
    margin-bottom: 4%;
    width: 57%;
}


.text-contain{
    width:50vw;
    word-wrap: break-word;
    margin:1%;
}
.review-btn{
    background:orangered;
    outline: none;
    border:none;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-left: 3%;
    margin-top: 0.5%;
    padding: 0% 3%;
    cursor: pointer;
    transition: 0.2s linear;
    color: white;
}
.review-btn:hover{
    background: #ff9f1a;    
    
}

.rbox{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 3;
    visibility: hidden;
}

.rating-section{
    display: flex;
}
.ratestar{
    color:lightgrey;
    font-size: 3.0rem;
    /* space out the stars */
  }
.ratestar::before{
  content: '\2605';    /* star outline */
  cursor: pointer;
}
.ratestar.rated::before{
  /* the style for a selected star */
  content: '\2605';  /* filled star */
}

.rate-label{
    font-size: 30px;
    margin-right: 3%;
    margin-top: 4%;
    color:rgba(0,0,0,0.7);
}

.stars{
    counter-reset: rateme 0;   
    font-weight: 200;
    padding:0;
    margin:-1.5%;
    margin-left:0%;
    margin-bottom:5px;
    margin-top: 0.5%;
}
.ratestar.rated{
    color:rgba(250, 217, 0, 1);
    counter-increment: rateme 1;
}
.review-popup{
  background:#eee;
  padding: 3%;
  width: 34%;
  margin: 3% 33%;
  border-radius:10px;
  outline: none;
    
}
.review-popup-title{
    font-size: 40px;
    margin-top: 1%;
    color:rgba(0,0,0,0.7);
}
.review-text{
    width:96%;
    height: 250px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 2%;
    outline: none;
    border: none;
}
textarea::placeholder{
    font-size: 18px;
}
.rcross
{
    color:rgba(0,0,0,0.35);
    font-weight:800;
    position:absolute;
    font-size:20px;
    top: 15%;
    left: 70%;
    font-family: 'Baloo Tamma 2', cursive;
    cursor:pointer;
}
.rcross:hover
{
    color:black;
}


.feedback-other{
    background: white;
    width: 350px;
    height: 350px;
    margin: 2%;
    display: inline-block;
    font-size:20px;
    font-family: 'Baloo Tamma 2', cursive;
    padding: 1%;
    box-sizing: border-box;
    border-radius: 30px;
}
.feedback-author{
    margin: 3% 6%;
    font-size: 25px;
}

.submit_feedback{
    font-size: 20px;
    padding: 2%;
    width: 40%;
    outline: none;
    border: none;
    background-color: #2980b9;
    border-radius: 10px;
}
.submit_feedback:hover{
    background-color: #3498db;
}


.details-icon{
    margin:20px 5px;
    height:35px;
    width:35px;
}

.addlikes
{
    color:grey;
}
.removelikes
{
    color:#3498db;
}

.like-btn
{
    background:white;
    border:none;
    cursor: pointer;
    border-radius: 30px;
    padding:7px;
    margin:10px 15px;
}
.like-btn:focus
{
    outline:none;
}

.greenheading
{
    color: #337279;
}

.smallpicdiv
{
    text-align:center;
    width:15%;
    margin:2%;
    display:flex;
}

#bigpicdiv
{
    background-size:cover;
    text-align:center;
    width:80%;
    height:65vh;
    margin:2%;
    border-radius: 5px;
}

.smallpic
{
    width:80px;
    height:80px;
    margin:2px;
    border:1px solid rgba(0,0,0,0.4);
    display:inline-block;
}
#smallpicid1
{
    border:2px solid #337279;
}
