.navbar{
    z-index:1;
}
body{
    background:#eee;
}
.profile
{
    width:96%;
    margin:auto;
    margin-top:6%;
    background:transparent;
}
.profilebox
{
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.7)),url(images/defaultbackgroundpic.jpeg);
    background-size: cover;
    width:96%;
    padding:2%;
    border-radius:8px 8px 0 0;
    display:flex;
}
.profilepic
{
    margin:1%;
    width:100px;
    height:100px;
    border-radius:75px;
    cursor:pointer;
}
.profilecontents
{
    width:20%;
    margin:1.5%; 
    color:#eee;
    font-size:22px;
}
.profilename
{
    margin:0;
}
.editprofile
{
    position:absolute;
    right:5%;
}

.editprofile-btn,.recipe-btn
{
    padding:9%;
    width:110px;
    font-size:16px;
    font-weight:550;
    background:transparent;
    border:1px solid white;
    border-radius:5px;
    color:white;
    cursor: pointer;
    z-index:-1;
}
.recipe-btn{
    padding:4%;
    width:45%;
    margin-top:4%;
    margin-left:6%;
}
.editprofile-btn:hover,.recipe-btn:hover{
    background:rgba(255,255,255,0.3)
}
.editprofile-btn:focus,.recipe-btn:focus{
    outline:none;
}
.profilenavbox
{
    width:96%;
    background:white;
    padding:2%;
    border-radius:15px 15px 0 0;
    display:flex;
    margin-top:-10px;
}
.aboutmebox
{
    width:23%;
    margin:0.5%;
    margin-right:3%;
}
.aboutme
{
    background:#eee;
    width:100%;
    padding:6%;
}
.profilesections
{
    width:74%;
}
.navsections
{
    width:98%;
    display:flex;
    margin:auto;
    justify-content:stretch;
    padding:1%;
    border-radius:10px;
}
.navsection{
    text-align:center;
    width:33.33%;
    padding:1.5%;
    background:#eee;
    color:#337279;
    font-weight:600;
}
.sectioncontent
{
    width:98%;
    margin:auto;
    margin-top:2%;
}
.sectiontile
{
    width:23.5%;
    margin-bottom:1.5%;
    margin-left:0.75%;
    height:44vh;
    border:1px solid rgba(0,0,0,0.3);
    display:inline-block;
}
#recipenav
{
    cursor: pointer;
    border-bottom:3px solid #337279;
}
#reviewnav,#favnav
{
    cursor: pointer;
}
#recipe
{
    display:block;
}
#fav,#review
{
    display:none;
}
.editprofilebackground
{
    position:fixed;
    width: 100%;
    height:100vh;
    top:0;
    left:0;
    background:rgba(0,0,0,0.3);
    z-index:4;
    visibility: hidden;
}
.editprofileblock
{
    background:#eee;
    width:42%;
    height:65vh;
    margin:auto;
    padding:3%;
    margin-top:6%;
    overflow:scroll;
}
.editinputabout,.editinputconnect
{
    padding:1%;
    width:100%;
    height:7vh;
}
.editinputname
{
    padding:1%;
    width:100%;
}
.editinput
{
    outline:none;
}
#crossedit
{
    position:absolute;
    top:16%;
    right:28%;
    cursor:pointer;
    color:rgba(0,0,0,0.35);
    font-weight:800;
    font-family: 'Baloo Tamma 2', cursive;
}
#crossedit:hover
{
    color:black;
}
#profilephoto
{
    display:none;
}
#editprofilepic
{
    width:7%;
    position:absolute;
    font-size:15px;
    color:white;
    top:23%;
    right:47%;
    cursor:pointer;
    visibility:hidden;
}
#profilepicdiv
{
    background:url(images/defaultprofilepic1.png);
    background-size: cover;
    width:100px;
    height:100px;
    border-radius:75px;  
}

#profilepicdiv:hover{
    background:linear-gradient(rgba(0,0,0,0.35),rgba(0,0,0,0.35)),url(images/defaultprofilepic1.png);
    background-size: cover;
}
