body{
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    height:100%;
    width:100%;
}

/* Navbar */

.navbar{
    top:0;
    left:0;
    position:fixed;
    background: white;
    height: 75px;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    box-shadow:2px 2px 6px rgba(0,0,0,0.35);
}

.nav{
    margin-right: 20px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
}

.nav-item{
    font-size:22px;
    margin:0px;
    padding: 23px 30px;
    color: #337279;
}

.name{
    font-family: 'Courgette', cursive;
    padding-top:15px;
    font-size:230%;
    margin-left:10%;
    font-weight:bold;
    text-shadow:5px 10px 9px rgba(0,0,0,0.3);
    
}

a{
    text-decoration: none;
}

.logo{
    border-radius:70px;
    margin:5px;
    margin-left:20px;
}


/* Home-background */

.background{
    margin-top:75px;
    background:url("images/signin1.jpg");
    background-size:cover;
    height:350px;
    width:100%;
}

.description{
    color:white;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 1);
    font-weight:900;
    width:48%;
    padding:5%;
    margin: auto;
    font-size: 350%;
    font-family: 'Lato', sans-serif;
    text-align: center;

}

.small-desc{
    font-weight:700;
    font-size: 45%;
}


/* SEARCH BOX */

.search-container{
    margin:4% auto;
    background:#bbb;
    width:60%;
    height:200px;
}

input[class="search"]{
    display:inline-block;
    width:80%;
    padding:1.2%;
    font-size: 130%;
    margin:2% 5%;
    margin-right:0;
    border:2px solid white;
    border-radius:5px;
    outline:none;
    box-shadow:5px 5px 10px rgba(0,0,0,0.35);
}

input[class="search"]:focus{
    outline:none;
    border:3px solid #337279;
}

.items{
    background:#eee;
    padding:2%;
    margin:5px;
}

.additem{
    background:#337279;
    color:white;
    border:none;
    padding:0.25% 1.4%;
    font-size: 200%;
    font-weight:700;
    border-radius:40px;
    display:inline-block;
    margin:30px;
    margin-left:-6%; 
}

.additem:hover{
    background:#337279;
}


button.additem:focus{
    outline:none;
}

/*Popup start*/
.popupdiv
{
    position:fixed;
    width: 100%;
    height:100vh;
    top:0;
    left:0;
    background:rgba(0,0,0,0.5);
    visibility:hidden;
}
.box
{
    margin:10% 33%;
    padding:2%;
    width:30%;
    border-radius:10px;
    background:#eee;
    padding-bottom:3%;
}
#signupbox
{
    margin:3% 33%;
}
.heading{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color:rgba(0,0,0,0.7);
    margin:2%;
}

.forminput{
    background:transparent;
    border:none;
    border-bottom:1.3px solid rgba(0,0,0,0.3);
    width:70%;
    height:100%;
    margin:4% 10%;
    padding:3.5%;
    color:rgba(0,0,0,0.6);
    font-size:115%;
}

input[class=forminput]::placeholder{
    font-size:17px;
    color:rgba(0,0,0,0.35);
}

input[class=forminput]:focus{
    outline:none;
}

input[class=forminput]::selection{
    background:transparent;
}

a:active,a,a:visited{
    text-decoration: none;
    color:rgb(47, 167, 236);
}
a:hover{
    text-decoration: underline;
}

button[class=popup]{
    background:rgb(40, 156, 233);
    border:none;
    padding:2.5%;
    width:80%;
    margin:5%;
    border-radius:10px;
    margin-left:10%;
    font-size:100%;
    color:white;
}

button[class=popup]:hover{
    background:rgba(40, 156, 233, 0.753);
}
.small{
    margin-left: 20%;
    color:rgba(0,0,0,0.4);
}
.cross
{
    color:rgba(0,0,0,0.35);
    font-weight:800;
    position:absolute;
    font-size:20px;
    top:23%;
    left:64.5%;
    font-family: 'Baloo Tamma 2', cursive;
    cursor:pointer;
}
#crosssignup
{
    top:9%;
    left:64.5%;
}
.cross:hover
{
    color:black;
    border-radius: 40px;
}